@tailwind base;
@tailwind components;
@tailwind utilities;

/* .text-gradient {
  background: linear-gradient(to right, #ff6600, #9146ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
